<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meeting.dao.SignLogMapper">
  <resultMap id="BaseResultMap" type="com.meeting.model.SignLog">
    <id column="id" jdbcType="INTEGER" property="id" />
        <result column="member_id" property="memberId" jdbcType="INTEGER" />
  <result column="meeting_id" property="meetingId" jdbcType="INTEGER" />
  <result column="user_id" property="userId" jdbcType="INTEGER" />
  <result column="sign_time" property="signTime" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
     id,member_id,meeting_id,user_id,sign_time
  </sql>
  <select id="selectByExample" parameterType="com.meeting.model.SignLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sign_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
     <if test="startRow >= 0 and pageRows > 0">
  limit ${startRow},${pageRows}
  </if>

  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from sign_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
   delete from sign_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.meeting.model.SignLogExample">
    delete from sign_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.meeting.model.SignLog">
      <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
</selectKey>

      insert into sign_log (member_id,meeting_id,user_id,sign_time)
      values (	#{id,jdbcType=INTEGER},	#{memberId,jdbcType=INTEGER},	#{meetingId,jdbcType=INTEGER},	#{userId,jdbcType=INTEGER},	#{signTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.meeting.model.SignLog">
   <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
</selectKey>

    insert into sign_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null" >
	  id,
 </if>
<if test="memberId != null" >
	  member_id,
 </if>
<if test="meetingId != null" >
	  meeting_id,
 </if>
<if test="userId != null" >
	  user_id,
 </if>
<if test="signTime != null" >
	  sign_time
 </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
         <if test="id != null" >
	 #{id,jdbcType=INTEGER},
	 </if>
  <if test="memberId != null" >
	 #{memberId,jdbcType=INTEGER},
	 </if>
  <if test="meetingId != null" >
	 #{meetingId,jdbcType=INTEGER},
	 </if>
  <if test="userId != null" >
	 #{userId,jdbcType=INTEGER},
	 </if>
  <if test="signTime != null" >
	 #{signTime,jdbcType=VARCHAR},
	 </if>

    </trim>
  </insert>
  <select id="countByExample" parameterType="com.meeting.model.SignLogExample" resultType="java.lang.Long">
    select count(*) from sign_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sign_log
    <set>
       <if test="record.memberId != null" >
	 member_id = #{record.memberId,jdbcType=INTEGER},
</if>
 <if test="record.meetingId != null" >
	 meeting_id = #{record.meetingId,jdbcType=INTEGER},
</if>
 <if test="record.userId != null" >
	 user_id = #{record.userId,jdbcType=INTEGER},
</if>
 <if test="record.signTime != null" >
	 sign_time = #{record.signTime,jdbcType=VARCHAR}
</if>

    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sign_log
    set 
    				member_id = #{record.memberId,jdbcType=INTEGER},	meeting_id = #{record.meetingId,jdbcType=INTEGER},	user_id = #{record.userId,jdbcType=INTEGER},	sign_time = #{record.signTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.meeting.model.SignLog">
    update sign_log
    <set>
       <if test="memberId != null" >
	 member_id = #{memberId,jdbcType=INTEGER},
</if>
 <if test="meetingId != null" >
	 meeting_id = #{meetingId,jdbcType=INTEGER},
</if>
 <if test="userId != null" >
	 user_id = #{userId,jdbcType=INTEGER},
</if>
 <if test="signTime != null" >
	 sign_time = #{signTime,jdbcType=VARCHAR}
</if>

    </set>
     where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meeting.model.SignLog">
    update sign_log
    set 
     			member_id = #{memberId,jdbcType=INTEGER},	meeting_id = #{meetingId,jdbcType=INTEGER},	user_id = #{userId,jdbcType=INTEGER},	sign_time = #{signTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>
